section(id='container')
    header(class='header' onclick="openNav()") Demo ☰
    #topnav(class="topnav")
        a(class=title=='Home' ? 'active' : undefined href='/') Home
        a(class=title=='Emp Entry' ? 'active' : undefined href='/emp_entry') Emp Entry 
        a(class=title=='Contact' ? 'active' : undefined href='/contact') Contact 
        a(class=title=='About' ? 'active' : undefined href='/about') About 
        