//- extends index.pug 
//- block content 
doctype html 
html(language='en')

    head 
        link(rel='stylesheet', type="text/css", href='/css/mystyle.css')
        title Hello World 3
        include ./index.pug
    body
        h1 About Page 