
doctype html 
html(language='en')

    head 
        link(rel='stylesheet', type="text/css", href='/css/mystyle.css')
        script(src='/js/navigation.js')

        title Hello World 3
    body
        include ./shared/navigation.jade
        .main(id="main")
            h1 Register 
        