
doctype html 
html(language='en')

    head 
        link(rel='stylesheet', type="text/css", href='/css/mystyle.css')
        title Hello World 3
    body
        .topnav 
            a.active(href='/') Home
            a(href='/') Contact 
            a(href='/about') About 
        
        